.searchContainer {
	
	width: 400px !important;
	margin : auto;
	margin-top: 20px;
}
.search:focus {
	outline: none !important;
}
#searchInput {
	box-sizing: border-box;
	width: 300px;
    font-size: 17px;
    padding: 15px 5px 10px 5px;
    color : #666;
    font-weight: 200;
}

.hide {
	display: none;
}